body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.main {
  display: flex;
  justify-content: center;
}

.weather-current {
  border: 2px solid black;
  border-radius: 20px;
  color: black;
  position: relative;
}

.weather-current div {
  padding: 20px;
  font-size: 1.1rem;
}
.weather-current-info {
  background-color: #514646;
  color: white;
  border-radius: 18px 18px 0 0;
}
.weather-current-icon {
  position: absolute;
  top: 28%;
  right: 15%;
  width: 7rem;
}
